################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/The16Oracles/FileContentIndex/c075e8ab-6cec-4e5b-a347-f852d1be6377.vsidx
/The16Oracles.domain/obj/project.nuget.cache
/The16Oracles.domain/obj
/.vs/The16Oracles/FileContentIndex/4e777028-8342-4411-aa3f-7fa2c2e958bc.vsidx
